@import "../../styles/helpers/mixins.scss";

.container {
  display: flex;

  &__div {
    cursor: pointer;
    object-fit: contain;
    max-width: 11rem;

    @include mobile {
      max-width: 10rem;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}