@import "../../styles/helpers/mixins.scss";

.container {
  background-color: rgba($color: #fff, $alpha: 0.5);

  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5.5rem 0 0;

  &__wrapper {
    position: relative;
    width: calc(100vw - 1rem);

    display: flex;
    gap: 2rem;
    max-width: 45rem;
    justify-content: center;

    padding: 2rem;

    @include large_tablet {
      align-items: center;
      gap: unset;
      padding: 2rem 1rem;
      flex-direction: column;
    }

    box-shadow: var(--box-shadow-small);
    border-radius: 0.5rem;
    background-color: #fff;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0 0.5rem;

  @include tablet {
    gap: 1rem;
    padding-bottom: 0;
  }

  &__item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}