@import "../../styles/helpers/mixins.scss";

.container {
  background-color: rgba($color: #fff, $alpha: 0.5);

  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 5.5rem;

  @include large_tablet {
    padding-top: 0rem;
  }

  &__wrapper {
    position: relative;
    width: calc(100vw - 1rem);

    display: flex;
    gap: 2rem;
    max-width: 80rem;
    justify-content: center;

    padding: 2rem;

    @include large_tablet {
      align-items: center;
      padding: 2rem 1rem;
      gap: 1rem;
      flex-direction: column;
    }

    box-shadow: var(--box-shadow-small);
    border-radius: 0.5rem;
    background-color: #fff;
  }
}

.block {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin-right: auto;

  display: flex;
  align-items: center;
  gap: 1rem;

  @include large_tablet {
    margin: unset;
  }
}

.text {
  padding: 0.5rem 0;
  width: 100%;
}

.image {
  width: 100%;
  object-fit: contain;
}

.motivation {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__title {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
  }

  &__list {
    padding-left: 1rem;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}