@import "../../styles/helpers/mixins.scss";

.container {
  background-color: rgba($color: #fff, $alpha: 0.5);

  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 5.5rem;

  &__wrapper {
    position: relative;
    width: 100%;

    display: flex;
    gap: 2rem;
    max-width: 80rem;
    justify-content: center;

    padding: 2rem;

    @include large_tablet {
      align-items: center;
      gap: unset;
      padding: 2rem 1rem;
      flex-direction: column;
    }

    box-shadow: var(--box-shadow-small);
    border-radius: 0.5rem;
    background-color: #fff;
  }
}

.block {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin-right: auto;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.text {
  padding: 0.5rem 0;
  width: 100%;
}

.image {
  width: 100%;
  object-fit: contain;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
  background-color: rgba($color: #fff, $alpha: 0.95);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 75%;
  max-width: 20rem;
  font-size: 1.5rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-48%, -60%);

  &__text {
    font-weight: 600;
    font-size: 1.5rem;
  }
}