@import "../../styles/helpers/mixins.scss";

.container {
  cursor: default;

  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1.5rem 0 3rem;
  background-color: rgba($color: #fff, $alpha: 0.5);
  
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 2rem;
    gap: 1rem;
    max-width: 80rem;
    border-radius: 0.5rem;

    background-color: rgba($color: #fff, $alpha: 1);
    box-shadow: var(--box-shadow-small);

    @include large_tablet {
      padding: 4.5rem 1rem 2rem;
      gap: 2rem;
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  border-radius: 0.5rem;
  justify-content: flex-start;
  width: 100%;

  @include large_tablet {
    padding: unset;
    gap: 2rem;
    flex-direction: column;
  }
}



