@import "../../styles/helpers/mixins.scss";

.container {
  margin: 3.5rem 0 4rem;

  @include large_mobile {
    margin-top: 2.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include large_mobile {
      gap: 1rem;
    }
  }
}

.paragraph {
  margin-bottom: 1rem;
}

.block {
  display: flex;
  margin: auto;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-small);
  width: calc(100vw - 1rem);
  max-width: 80rem;
  gap: 2rem;

  @include large_tablet {
    padding: 1rem 1rem 1.5rem;
    gap: 1.5rem;
  }

  @include tablet {
    flex-direction: column;
    gap: 1rem;

    &:first-child, &:nth-child(3n) {
      flex-direction: column-reverse;
    }
  }

  @include large_mobile {
    gap: 0;
  }

  &__list {
    padding: 1.5rem 0;

    &_item {
      padding: 0.5rem 0;
    }
  }

  &__title {
    padding-bottom: 1rem;
    font-size: 1.5rem;

    @include large_mobile {
      padding-bottom: 0.5rem;
    }
  }

  &__text {
    padding-right: 0.5rem;
    flex-basis: 50%;

    @include mobile {
      width: unset;
      padding-right: unset;
    }
  }
}

.img {
  object-fit: contain;
  width: 100%;

  @include large_tablet {
    height: fit-content;
    max-width: 30rem;
  }

  @include mobile {
    width: 100%;
  }

  
  &__div {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    height: fit-content;
  
    @include mobile {
      margin-right: unset;
    }
  }
}

