.icon {
  cursor: default;
  width: 1.75rem;
  height: 1.75rem;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &_xs {
    min-width: 1rem;
    min-height: 1rem;
  }

  &_s {
    min-width: 1.25rem;
    min-height: 1.25rem;
  }
  
  &_sm {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }

  &_m {
    min-width: 2rem;
    min-height: 2rem;
  }

  &_b {
    min-width: 2.5rem;
    min-height: 2.5rem;
  }

  &_nav {
    min-width: 1.6rem;
    min-height: 1.6rem;
  }

  &__red_circle {
    background-image: url("../../public/assets/red_circle.svg");
  }

  &__link {
    background-image: url("../../public/assets/link.svg");
  }
  
  &__triangle_exclamation {
    background-image: url("../../public/assets/triangle_exclamation.svg");
  }

  &__envelope {
    background-image: url("../../public/assets/envelope.svg");
  }

  &__spark {
    background-image: url("../../public/assets/spark.svg");
  }

  &__globe {
    background-image: url("../../public/assets/globe.svg");
  }

  &__cat_face {
    background-image: url("../../public/assets/cat_face.svg");
  }

  &__cat_house {
    background-image: url("../../public/assets/cat_house.svg");
  }

  &__envelope_white {
    background-image: url("../../public/assets/envelope_white.svg");
  }

  &__map_pin {
    background-image: url("../../public/assets/map_pin.svg");
  }

  &__coin {
    background-image: url("../../public/assets/coin.svg");
  }

  &__money_curved_white {
    background-image: url("../../public/assets/money_curved_white.svg");
  }

  &__money {
    background-image: url("../../public/assets/money.svg");
  }

  &__handshake_white {
    background-image: url("../../public/assets/handshake_white.svg");
  }

  &__money {
    background-image: url("../../public/assets/money.svg");
  }

  &__wallet {
    background-image: url("../../public/assets/wallet.svg");
  }

  &__plug {
    background-image: url("../../public/assets/plug.svg");
  }

  &__withdraw_money {
    background-image: url("../../public/assets/withdraw_money.svg");
  }

  &__web {
    background-image: url("../../public/assets/web.svg");
  }

  &__cloud {
    background-image: url("../../public/assets/cloud.svg");
  }

  &__user_money {
    background-image: url("../../public/assets/user_money.svg");
  }

  &__pencil_notebook {
    background-image: url("../../public/assets/pencil_notebook.svg");
  }

  &__apple {
    background-image: url("../../public/assets/apple.svg");
  }

  &__face {
    background-image: url("../../public/assets/face.svg");
  }

  &__envelope_exclamation {
    background-image: url("../../public/assets/envelope_exclamation.svg");
  }

  &__envelope {
    background-image: url("../../public/assets/envelope.svg");
  }

  &__waving_hand {
    background-image: url("../../public/assets/waving_hand.svg");
  }

  &__gear {
    background-image: url("../../public/assets/gear.svg");
  }

  &__square_lines {
    background-image: url("../../public/assets/square_lines.svg");
  }

  &__dialog_arrow {
    background-image: url("../../public/assets/dialog_arrow.svg");
  }

  &__angel {
    background-image: url("../../public/assets/angel.svg");
  }

  &__policy {
    background-image: url("../../public/assets/policy.svg");
  }

  &__android {
    background-image: url("../../public/assets/android.svg");
  }

  &__open_door {
    background-image: url("../../public/assets/open_door.svg");
  }

  &__rocket {
    background-image: url("../../public/assets/rocket.svg");
  }

  &__concept {
    background-image: url("../../public/assets/concept.svg");
  }

  &__people {
    background-image: url("../../public/assets/people.svg");
  }

  &__platform {
    background-image: url("../../public/assets/platform.svg");
  }

  &__heart_outline {
    background-image: url("../../public/assets/heart_outline.svg");
  }

  &__eye {
    background-image: url("../../public/assets/eye.svg");
  }

  &__pin {
    background-image: url("../../public/assets/pin.svg");
  }

  &__user {
    background-image: url("../../public/assets/user.svg");
  }

  &__dry_food {
    background-image: url("../../public/assets/dry_food.svg");
  }

  &__eye_crossed {
    background-image: url("../../public/assets/eye_crossed.svg");
  }

  &__go {
    background-image: url("../../public/assets/go.svg");
  }

  &__fb{
    background-image: url("../../public/assets/fb.svg");
  }

  &_selected {
    filter: var(--filter-red);
  }
}