@import "../../../styles/helpers/mixins.scss";

.gh, .ln {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background: url("../../../public/assets/gh.svg");
  background-size: contain;
  background-position: center;
}

.links {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}


.ln {
  background: url("../../../public/assets/ln.svg");
}

.paragraph {
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.block {
  display: flex;
  margin: auto;

  border-radius: 0.5rem;
  max-width: 90rem;
  width: 100%;
  gap: 1.5rem;

  @include large_tablet {
    flex-direction: column;
    padding: 0;
    gap: 1.5rem;
  }

  @include tablet {
    gap: 1rem;
  }

  @include large_mobile {
    gap: 0;
  }

  &__list {
    padding: 1.5rem 0;

    &_item {
      padding: 0.5rem 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  &__text {
    padding-right: 0.5rem;
    flex-basis: 70%;

    @include large_mobile {
      margin-top: 1.5rem;
    }
 
    @include mobile {
      width: unset;
      padding-right: unset;
    }
  }
}

.img {
  object-fit: contain;
  width: 100%;
  border-radius: 0.5rem;
  height: fit-content;
  
  &__div {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    height: fit-content;
  
    @include mobile {
      margin-right: unset;
    }
  }
}

.timeline {
  margin-top: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  &__step {
    position: relative;

    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__bar {
    position: relative;
    width: 2rem;
    height: 2rem;
  }

  &__circle {
    border-radius: 50%;

    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-color: #f5afac;

    &_active {
      background-color: #de100a;
      border: 0.15rem dotted black;
    }
  }
}