@import "../../styles/helpers/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  width: 100%;
  border: none;
  height:fit-content;
  background-size: 150%;
  box-shadow: var(--box-shadow-small);

  transition: all 0.5s;

  &:hover {
    box-shadow: var(--box-shadow-small-red);
  }

  &:active {
    transform: scale(0.95);
  }

  & div {
    cursor: pointer;
  }
}