@import "../../styles/helpers/mixins.scss";
@import "../../styles/helpers/animations.scss";

.container {
  cursor: default;
  padding: 5.5rem 0 3rem;

  display: flex;
  justify-content: center;
  background-color: rgba($color: #f3d4d4, $alpha: 0.5);

  @include large_tablet {
    padding-bottom: 5.5rem;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 1rem);
    max-width: 80rem;
    text-align: center;
    gap: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-small);
    background-color: var(--white);
  }
}

.left {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.lines {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.line, .placeholder {
  position: absolute;

  width: 100%;
  height: 1.5rem;
  background: var(--pink-gradient);
  border-radius: 1rem;
}

.placeholder {
  background: var(--grey-light);
}

.line {
  z-index: 1;
  width: 90%;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;

  margin-top: 3rem;
  gap: 1rem;
  row-gap: 2rem;

  @include large_mobile {
    align-items: center;
    flex-direction: column;
  }
}

.subtitle {
  font-size: 1.25rem;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: start;
  list-style-type: disc;
  gap: 1rem;
}

.item {
  margin-left: 2.5rem;
  padding-left: 0.5rem;

  @include large_mobile {
    margin-left: 2rem;
    padding-left: 1rem;
  }
}

.image {
  width: 100%;
  object-fit: contain;
  height: fit-content;
  max-width: 20rem;
}

.button {
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.5rem;

  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: all 0.5s;
  font-size: 1.15rem;

  background: var(--red-gradient);
  background-size: 150%;
  animation: flipColorsBack 1s ease forwards;
  
  &:hover {
    animation: flipColors 1s ease forwards;
  }

  & button, div {
    cursor: pointer;
    color: var(--white);
  }
  
  @include large_mobile {
    padding: 1rem 2rem;
    width: 100%;
  }
}