@import "../../../styles/helpers/mixins.scss";

.container {
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  &__wrapper {
    position: relative;
    height: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  background-color: rgba($color: #ffffff, $alpha: 0.4)
}

.button {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 50%;
  padding: 0 0.5rem;
  transform: translateY(-50%);
}