@import "../../styles/helpers/mixins.scss";

.container {
  background-color: rgba($color: #fff, $alpha: 0.5);

  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 5.5rem;

  @include large_tablet {
    padding-top: 0rem;
  }

  &__wrapper {
    position: relative;
    width: 100%;

    display: flex;
    gap: 2rem;
    max-width: 90rem;
    justify-content: center;

    padding: 2rem;

    @include large_tablet {
      align-items: center;
      gap: unset;
      padding: 2rem 1rem;
      flex-direction: column;
    }

    box-shadow: var(--box-shadow-small);
    border-radius: 0.5rem;
    background-color: #fff;
  }
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.image {
  width: 100%;
  object-fit: contain;
  height: fit-content
}