@import "../../styles/helpers/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: transparent;

  &__forgot_password {
    cursor: pointer;
    padding: 0.25rem;
    text-align: center;
    font-size: 1rem;
    color: var(--black);
    transition: all 0.5s;

    &:hover {
      color: var(--red);
    }
  }
}

.socials {
  display: flex;
  width: 100%;
  gap: 0.75rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  width: 100%;
  border: none;
  height:fit-content;
  background-size: 150%;
  box-shadow: var(--box-shadow-small);

  transition: all 0.5s;

  &__red {
    background: var(--red-gradient);
    color: var(--white);
  }

  &:hover {
    box-shadow: var(--box-shadow-small-red);
  }

  &:active {
    transform: scale(0.95);
  }

  & div {
    cursor: pointer;
  }
}

.input {
  width: 100%;
  background-color: transparent;
  border: 0.07rem solid transparent;
  box-shadow: var(--box-shadow-small);
  border-radius: 4px;
  padding: 1rem;
  color: var(--black);
  outline: none;
  
  &[type="password"] {
    letter-spacing: 0.25rem;
  }

  &::placeholder {
    letter-spacing: normal;
  }

  &:focus {
    box-shadow: var(--box-shadow-small-red);
  }

  &_error {
    border-color: red;
  }

  &__wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}